
html{
 /* background: repeating-conic-gradient( from 346deg at 25% 25%, rgba(56, 136, 56, 0.109), rgb(42 37 65 / 11%) 2deg 5deg, rgb(60 86 60 / 85%), rgb(131 131 58 / 58%) 15deg17deg, rgba(31, 51, 31, 0.233) 20deg) #080606ec no-repeat;
  */

  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0px; 
  backdrop-filter: brightness(0.1) blur(55px) hue-rotate(251deg);

}

body {
  font-size: 120%;
  font-family: Arial;
}

html, #b1 {
  height: 100vh;
  width:  100vh;
  margin: 0px;
  min-height: 1250px;
  background: repeating-linear-gradient(45deg, rgb(17, 22, 17), rgb(18, 22, 17) 125px);

}



#b1{
/* background: repeating-conic-gradient( from 346deg at 25% 25%, rgb(191 199 153 / 10%), rgb(29 29 34 / 32%) 2deg 5deg, rgb(19 27 17 / 98%), rgb(16 68 50 / 43%) 15deg 47deg, rgb(0 0 0 / 45%) 20deg) #232c3b8f no-repeat;
*/
backdrop-filter: brightness(0.11) blur(15px) hue-rotate(290deg); 
color: snow;
margin: 0px;
min-height: 1100px;
}



button, input {
  font-size: 100%;
  font-family: Arial;
  margin-top: 3px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #d3d3d3;
  text-align: left;
  padding: 8px;
  background-color: #00000054;
}


.error {
  color: #ffadade3;
  text-shadow: #310404 0px 0px 19px;
  margin-right: auto;
  display: inline-grid;
  padding: 2px 20px 3px;
  letter-spacing: 1px;
  border-radius: 2px;
  font-size: 115%;
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;

  min-height: 1200px;
  width: 100%;
  margin: 0px;
}

.total {
  font-size: 150%;
}

.form {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 1px;
}


#myChart {
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #6d6b6b2b;
  background: linear-gradient(359deg, rgb(27 27 27 / 10%), rgb(31 31 31), rgb(27 27 27 / 10%), rgb(31 31 31) 680px);
  box-shadow: rgb(75 75 75 / 13%);
  backdrop-filter: hue-rotate(357deg);
}

